<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKRgyo3bpJbV7ChWEaRNjczab5olfxvgM</string>
	<key>GCM_SENDER_ID</key>
	<string>121766014655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.numberConnectionTest</string>
	<key>PROJECT_ID</key>
	<string>number-connection-rtes913</string>
	<key>STORAGE_BUCKET</key>
	<string>number-connection-rtes913.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121766014655:ios:9833e6c236373e7caa200a</string>
</dict>
</plist>